<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems" >
      <button ion-item (click)="openItem(item)" text-wrap>
        <ion-avatar item-start>
          <img class = "picture" [src]="item.picture" />
        </ion-avatar>
        <div>  <!-- status row: status, stinky, actions/points -->
          <div class = "lucketStatus" ></div>
          <div class = "lucketStink" ></div>
          <div class = "lucketActionStatus" ></div>
          <div class = "lucketActionStatus" ></div>
          <div class = "lucketActionStatus" ></div>
          <div class = "lucketActionStatus" ></div>
          <div class = "lucketActionStatus" ></div>
          <div class = "lucketActionStatus" ></div>
        </div>
        <div class = "name"><h2>{{item.name}}</h2></div>
        <div>  <!-- status row: status, stinky, actions/points -->
          <div class = "lucketSensorStatus" ></div>
          <div class = "lucketSensorStatus" ></div>
          <div class = "lucketSensorStatus" ></div>
          <div class = "lucketSensorStatus" ></div>
          <div class = "lucketSensorStatus" ></div>
          <div class = "lucketSensorStatus" ></div>
          <div class = "lucketSensorStatus" ></div>
          <div class = "lucketSensorStatus" ></div>
        </div>
        <p>{{item.description}}</p>
        <p>{{item.comment}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
