page-list-master {
  .picture {
    width: 50px;
    height: 50px;
    border-radius: 0%;
  }
  .item-avatar  {
    width:100% !important;
    height : 100% !important;
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
  }
  .lucketStatus {
      background: yellow;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      display: inline-block;
  }

  .lucketStinkDown {
    border-color: red transparent transparent transparent;
    border-style: solid;
    border-width: 20px 10px 10px 10px;
    height: 0px;
    width: 0px;
    transform: translate(0px, 10px);

    display: inline-block;
  }



  .lucketStink {
    border-color: transparent transparent red transparent;
    border-style: solid;
    border-width: 0px 10px 20px 10px;
    height: 0px;
    width: 0px;
    transform: translate(-9px, 0px);
    display: inline-block;
  }
  .lucketHabitBox {
    height: 24px;
    width: 20px;
    display: inline-block;
    border-color: transparent;
    background: transparent;
    border-style: solid;
    border-width: 1px;
    margin-left: 0px;
  }

  .lucketHabitStrength {
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: red;
    transform: rotate(45deg) translate(4px, 3px);
  }
  .lucketActionStatus {
    height: 20px;
    width: 15px;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }

  .lucketActionStatusBlank {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
  }

  .lucketActionStatusFiller {
    height: 20px;
    width: calc((100% - 220px)/2);;
    display: inline-block;
  }


  .lucketActionStatusFocus {
    height: 20px;
    font-weight: 900;
    display: inline-block;
  }

  .lucketSensorStatus  {
    width: 20px;
    height: 10px;
    background: red;
    border-color: black;
    border-style: solid;
    border-width: 1px;

    display: inline-block;
  }

  .name {
    width:120px;
    float:left;
    font-weight: 900;
    display: inline-block;
  }

  .blue {
    background: blue;
    color: white;
  }
  .red {
    background: red;
    color: white;
  }
  .yellow {
    background: yellow;
  }
  .green {
    background: green;
    color: white;
  }
  .black {
    background: black;
    color: white;
  }
  .white {
    background: white;
  }

}
