page-item-detail {
  .item-profile {
    border-style: solid;
    width: 100px;
    background-position: center center;
    background-size: cover;
    height: 100px;
    float:left;
  }
  .item-profile2 {
    width: 50px;
    background-position: center center;
    background-size: cover;
    height: 50px;
    display: inline-block;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
    display: inline-block;
  }

  .item-detail-description {
    clear: left;
    width: 100%;
    background: white;
  }

  .lucketStatus {
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: red;
    display: inline-block;
  }

  .lucketStink {
    margin-bottom: 20px;
    border-color: transparent transparent red transparent;
    border-style: solid;
    border-width: 0px 10px 20px 10px;
    height: 0px;
    width: 0px;

    display: inline-block;
  }

  .lucketActionStatus {
    margin-bottom: 20px;
    height: 20px;
    width: 20px;
    background: green;

    display: inline-block;
  }


  .lucketSensorStatus  {
    width: 20px;
    height: 7px;
    background: red;

    display: inline-block;
  }

  .lucketSensors  {
    width: 100%;
  }

  .lucketStatuses  {
    width: 100%;
  }

  .lucketStatusAndSensors  {
    padding-top: 20px;
    border-style: solid;
    height: 100px;
    float:left;
  }

  .blue {
    background: blue;
  }
  .red {
    background: red;
  }
  .yellow {
    background: yellow;
  }
  .green {
    background: green;
  }
  .black {
    background: black;
  }
  .white {
    background: white;
  }

}
